<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1>{{counter}}</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button
          (click)="tapCounter()"
          expand="full"
          shape="round"
          size="large"
          fill="outline"
          >Click Me</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-col size="12">
      <ion-text color="primary">
        <h1>Awesome text</h1>
      </ion-text>
      <ion-button
        (click)="presentAlert()"
        expand="full"
        shape="round"
        size="large"
        >Click here</ion-button
      >
    </ion-col>
  </ion-grid>
</ion-content>
