<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://i.pinimg.com/originals/58/2d/96/582d96a1df2d94bb439af1594639ccfe.jpg"
    />
    <ion-card-header>
      <ion-card-title>Destination</ion-card-title>
      <ion-card-subtitle>Madison, WI</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus et
      beatae dolor quis nostrum tempore error! Commodi minus, tempora, facilis
      nisi quasi dolores ratione adipisci enim minima nulla sapiente illo!
    </ion-card-content>
  </ion-card>
</ion-content>
