<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngFor="let item of data, let i= index"
        size-sm="6"
        size-md="4"
        size-lg="3"
      >
        <ion-card>
          <img alt="Silhouette of mountains" [src]="item.img" />
          <ion-card-header>
            <ion-card-title>{{item.title}} indx {{i+1}}</ion-card-title>
            <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content> {{item.content}} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
