.ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("/assets/img/bg-astro.jpg") no-repeat center center / cover;
  .ion-grid {
    display: flex;
    height: 100vh;
    padding: 0;
    .ion-row {
      width: 100vw;
      .ion-col {
        height: 500px;
        padding: 0 15px 0 15px;
        align-self: flex-end;
        background-color: #fff;
        border-radius: 25px 25px 0 0;
      }
    }
  }
}
